<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="./../js/todo.js" defer></script>
</head>
<body>
    <center>Todo List</center>
    <center>
        <input type="text" id="todo-input" placeholder="add todo">
        <button id="add-todo">Add</button>
        
        <ul id="item-list">
            <li>item 1</li>
        </ul>
    </center>
</body>
</html>