.btn{
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}

.btn-primary{
    background-color: dodgerblue;
}
.btn-sm{
    padding: 5px;
}

.btn-danger{
    background-color: red;
}

.hideElement{
    display: none;
}

.showElement{
    display: block;
}